@import "../../styles/__mixins.scss";

.header {
	z-index: 9;
	display: flex;
	align-items: center;
	margin-top: 54px;
	@include _normalText;
	.active {
		color: $_firstColor;
	}
	&Logo {
		display: flex;
		align-items: center;
		text-transform: uppercase;
		svg {
			margin-right: 11px;
		}
	}

	ul {
		display: flex;
		margin: 0 0 0 146px;
	
		li{
			margin-right: 30px;
			&::marker{
			content: "";
			}
			&:hover {
				color: $_firstColor;
			}
			a:visited {
					color: inherit;
				}
		}
	}

	a {
		color: inherit;
		&:hover {
			color: $_firstColor;
			text-decoration: underline;
			text-underline-offset: 5px;
			text-decoration-color: #CEDEDF;
			
		}
	}

	.contacts {
		display: flex;
		margin-right: 67px;
		margin-left: auto;

		svg {
			margin-right: 9px;
			cursor: pointer;
			&:hover {
				background-color: $_firstColor;
				path {
				cursor: pointer;
				fill: white;
			}
		}}

	}

	.cart {
		position: relative;
		width: 24px;
		height: 24px;
		img:hover {
			cursor: pointer;
		}
		p {
			width: 15px;
			height: 15px;
			border-radius: 50%;
			color: white;
			background-color: $_secondColor;
			position: absolute;
			top: -11px;
			right: -11px;
			font-size: 10px;
			font-weight: 400;
			line-height: 100%;
			text-align: center;
			letter-spacing: 0.02em;
		}
	}
}