@import "../../styles/__mixins.scss";

.header {
	z-index: 9;
	display: flex;
	align-items: center;
	margin-top: 54px;
	@include _normalText;
	
	&Logo {
		display: flex;
		align-items: center;
		text-transform: uppercase;
		img {
			margin-right: 11px;
		}
	}

	ul {
		display: flex;
		margin: 0 0 0 146px;
	
		li{
			margin-right: 30px;
			&::marker{
			content: "";
			}
			&:hover {
				color: $_firstColor;
			}
			a:visited {
					color: inherit;
				}
		}
	}

	a {
		color: inherit;
		&:hover {
			color: $_firstColor;
			text-decoration: underline;
			text-underline-offset: 5px;
			text-decoration-color: #CEDEDF;
			
		}
	}

	.contacts {
		display: flex;
		margin-right: 67px;
		margin-left: auto;

		svg {
			margin-right: 9px;
			cursor: pointer;
			&:hover {
				background-color: $_firstColor;
				path {
				cursor: pointer;
				fill: white;
			}
		}}

	}

	.cart {
		width: 24px;
		height: 24px;
		img:hover {
			cursor: pointer;
		}
	}
}